.row {
  padding: 0;
  margin: 0;
}

.container-fluid {
  overflow: hidden;
}

.scrolled {
  background-color: white !important;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none !important;
}

.navbar {
  background-color: #fff;
}
.navbar .container .navbar-brand img {
  width: 128px;
}
.navbar .container .navbar-nav a:hover {
  opacity: 0.7;
}
.navbar .container .navbar-nav .nav-item .nav-link {
  color: #15212f;
  font-weight: 600;
}

#banner {
  height: 600px;
  background-image: url(/images/1.jpg?e1093969646fd5d0d3c2df743eca8291);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  position: relative;
}
#banner .row {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
#banner .col-12 {
  text-align: right;
  top: 415px;
  position: relative;
  padding-right: 120px;
}
#banner .col-12 h1 {
  font-family: "Poppins", sans-serif;
  color: #4baced;
  font-weight: 900;
  font-size: 62px;
  line-height: 64px;
  margin: 0;
}
#banner .col-12 h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 46px;
  margin: 0;
  line-height: 48px;
}

#presentation {
  padding: 60px 0;
}
#presentation .row .col-12 {
  text-align: center;
  margin-bottom: 50px;
}
#presentation .row .col-12 h1 {
  font-family: "Poppins", sans-serif;
  color: #4baced;
  font-weight: 800;
  font-size: 44px;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0;
}
#presentation .row .col-md-4 {
  padding: 0 20px;
}
#presentation .row .col-md-4 .row {
  padding: 0;
}
#presentation .row .col-md-4 .row .col-3 {
  padding: 0;
}
#presentation .row .col-md-4 .row .col-9 {
  text-align: center;
}
#presentation .row .col-md-4 .row .col-9 h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #0e3885;
  font-size: 26px;
}

#products {
  padding: 0px 0;
  background-image: url(/images/2.jpg?15800ce10c618b4da23d87adbfaabbfc);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#products .row {
  padding: 100px 30px 70px 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
#products .row .col-md-4 {
  padding: 0 30px;
  text-align: center;
}
#products .row .col-md-4 img {
  width: 100%;
  margin-bottom: 20px;
}
#products .row .col-md-4 h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#products .row .col-md-4 p {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

#quote {
  padding: 50px 0;
  background-color: #15212f;
}
#quote .row .col-12 {
  text-align: center;
}
#quote .row .col-12 h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 62px;
  line-height: 64px;
  margin: 0;
  text-transform: uppercase;
}

#about {
  padding: 50px 0;
}
#about .row .col-12 {
  text-align: center;
}
#about .row .col-12 h1 {
  font-family: "Poppins", sans-serif;
  color: #4baced;
  font-weight: 800;
  font-size: 44px;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
#about .row .col-12 p {
  font-family: "Poppins", sans-serif;
  color: #15212f;
  font-size: 24px;
  line-height: 28px;
}

#contact {
  background-color: rgba(21, 33, 47, 0.1333333333);
  padding: 0;
}
#contact .row .map {
  padding-right: 0px;
  padding-left: 0 !important;
}
#contact .row .map iframe {
  width: 100%;
  height: 100%;
}
#contact .row .contacto {
  padding: 0 25px;
}
#contact .row .contacto .titulo {
  padding-top: 50px !important;
}
#contact .row .contacto .titulo h1 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
#contact .row .contacto .titulo h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
#contact .row .contacto .titulo {
  padding: 15px;
  justify-content: space-between;
}
#contact .row .contacto input {
  color: black;
  border: 0;
  border-bottom: 1.5px solid black;
  height: 40px;
  font-size: 14px;
  padding: 12px 0 12px 8px;
}
#contact .row .contacto .email input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 12px 0 12px 8px;
}
#contact .row .contacto .datos input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 12px 0 12px 8px;
}
#contact .row .contacto .datos input:last-child {
  float: right;
}
#contact .row .contacto textarea {
  width: 100%;
  height: 130px;
  border: 0;
  border-bottom: 1.5px solid black;
}
#contact .row .contacto textarea::-moz-placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 12px 0 12px 8px;
}
#contact .row .contacto textarea::placeholder {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 12px 0 12px 8px;
}
#contact .row .contacto .btn {
  text-align: right;
  margin-bottom: 30px;
  cursor: auto;
}
#contact .row .contacto .btn a {
  background-color: #606060;
  padding: 8px 14px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #efefef;
  border: none;
}
#contact .row .contacto .tu_consulta {
  text-align: left;
}
#contact .row .contacto .tu_consulta img {
  width: 150px;
}
#contact .row .contacto .tu_consulta h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
#contact .row .contacto input, #contact .row .contacto textarea {
  margin-bottom: 10px;
  background-color: transparent;
}
#contact .row .contacto input::-moz-placeholder {
  color: black;
}
#contact .row .contacto input::placeholder {
  color: black;
}

@media (max-width: 450px) {
  .navbar {
    background-color: #fff;
  }
  .navbar .container .navbar-brand img {
    width: 128px;
  }
  .navbar .container .navbar-nav a:hover {
    opacity: 0.7;
  }
  .navbar .container .navbar-nav .nav-item .nav-link {
    color: #15212f;
    font-weight: 600;
  }
  .navbar .container .navbar-toggler .navbar-toggler-icon {
    background-image: none;
    width: 35px;
    height: 35px;
    font-size: 35px;
    color: #15212f;
  }
  #banner {
    height: 450px;
  }
  #banner .col-12 {
    top: 300px;
    padding-right: 20px;
  }
  #banner .col-12 h1 {
    font-size: 42px;
    line-height: 46px;
  }
  #banner .col-12 h2 {
    font-size: 30px;
    line-height: 36px;
  }
  #presentation {
    padding: 60px 0;
  }
  #presentation .row .col-12 {
    text-align: center;
    margin-bottom: 50px;
  }
  #presentation .row .col-12 h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #presentation .row .col-md-4 {
    padding: 0 40px;
    margin: 20px 0;
  }
  #presentation .row .col-md-4 .row .col-9 h3 {
    font-size: 22px;
  }
  #products {
    padding: 0px 0;
    background-image: url(/images/2.jpg?15800ce10c618b4da23d87adbfaabbfc);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #products .row {
    padding: 100px 20px 70px 20px;
  }
  #products .row .col-md-4 {
    padding: 30px 20px;
  }
  #products .row .col-md-4 h2 {
    font-size: 28px;
    line-height: 32px;
  }
  #products .row .col-md-4 p {
    font-size: 16px;
  }
  #quote {
    padding: 50px 0;
    background-color: #15212f;
  }
  #quote .row .col-12 h1 {
    font-size: 42px;
    line-height: 44px;
  }
  #about {
    padding: 50px 0;
  }
  #about .row .col-12 h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #about .row .col-12 p {
    font-size: 20px;
    line-height: 22px;
  }
  #contact .row .map {
    min-height: 350px;
  }
  #contact .row .contacto {
    padding: 0 20px;
  }
  #contact .row .contacto .titulo h1 {
    font-size: 26px;
  }
  #contact .row .contacto .titulo h2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  #contact .row .contacto input {
    color: black;
    border: 0;
    border-bottom: 1.5px solid black;
    height: 40px;
    font-size: 14px;
    padding: 12px 0 12px 8px;
  }
  #contact .row .contacto .email input {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 12px 0 12px 8px;
  }
  #contact .row .contacto .datos input {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 12px 0 12px 8px;
  }
  #contact .row .contacto .datos input:last-child {
    float: right;
  }
  #contact .row .contacto textarea {
    width: 100%;
    height: 130px;
    border: 0;
    border-bottom: 1.5px solid black;
  }
  #contact .row .contacto textarea::-moz-placeholder {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 12px 0 12px 8px;
  }
  #contact .row .contacto textarea::placeholder {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 12px 0 12px 8px;
  }
  #contact .row .contacto .btn {
    text-align: right;
    margin-bottom: 30px;
    cursor: auto;
  }
  #contact .row .contacto .btn a {
    background-color: #606060;
    padding: 8px 14px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #efefef;
    border: none;
  }
  #contact .row .contacto .tu_consulta {
    text-align: left;
  }
  #contact .row .contacto .tu_consulta img {
    width: 150px;
  }
  #contact .row .contacto .tu_consulta h3 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  #contact .row .contacto input, #contact .row .contacto textarea {
    margin-bottom: 10px;
    background-color: transparent;
  }
  #contact .row .contacto input::-moz-placeholder {
    color: black;
  }
  #contact .row .contacto input::placeholder {
    color: black;
  }
}
