.row {
    padding: 0;
    margin: 0;
}

.container-fluid {
    overflow: hidden;
}

.scrolled {
    background-color: white !important;
}

a:hover {
    opacity: 0.7 !important;
    text-decoration: none;
}

input,
textarea {
    outline: none !important;
}

.navbar {
    background-color: #fff;
}
.navbar .container .navbar-brand img {
    width: 128px;
}
