$font1: 'Poppins', sans-serif;
$azul: #15212f;
$azulclaro: #0e3885;
$celeste: #4baced;

.row {
  padding: 0;
  margin: 0;
}

.container-fluid {
  overflow: hidden;
}

.scrolled {
  background-color: white !important;
}

a {
    text-decoration: none;
}

input,
textarea {
  outline: none !important;
}

.navbar {
    background-color: #fff;
    .container {
        .navbar-brand {
            img {
                width: 128px;
            }
        }
        .navbar-nav {
            a:hover {
              opacity: 0.7 ;
            }            
            .nav-item {
                .nav-link {
                    color: #15212f;
                    font-weight: 600;
                }
            }
        }
    }
}

#banner {
    height: 600px;
    background-image: url('../js/img/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
    .row {
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
    .col-12 {
        text-align: right;
        top: 415px;
        position: relative;
        padding-right: 120px;
        h1 {
            font-family: $font1;
            color: $celeste;
            font-weight: 900;
            font-size: 62px;
            line-height: 64px;
            margin: 0;
        }
        h2 {
            font-family: $font1;
            color: #fff;
            font-weight: 600;
            font-size: 46px;
            margin: 0;
            line-height: 48px;
        }
    }
}

#presentation {
    padding: 60px 0;
    .row {
        .col-12 {
            text-align: center;
            margin-bottom: 50px;
            h1 {
                font-family: $font1;
                color: $celeste;
                font-weight: 800;
                font-size: 44px;
                line-height: 46px;
                text-transform: uppercase;
                margin: 0;
            }
        }
        .col-md-4 {
            padding: 0 20px;
            .row {
                padding: 0;
                .col-3 {
                    padding: 0;
                }
                .col-9 {
                    text-align: center;
                    h3 {
                        font-family: $font1;
                        text-transform: uppercase;
                        color: $azulclaro;
                        font-size: 26px;
                    }
                }
            }
        }
    }
}

#products {
    padding: 0px 0;
    background-image: url('../js/img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .row {
        padding: 100px 30px 70px 30px;
        background-color: rgba(0, 0, 0, 0.3);
        .col-md-4 {
            padding: 0 30px;
            text-align: center;
            img {
                width: 100%;
                margin-bottom: 20px;
            }
            h2 {
                font-family: $font1;
                color: #fff;
                font-weight: 800;
                font-size: 36px;
                line-height: 38px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            p {
                color: #fff;
                font-size: 18px;
                font-family: $font1;
            }
        }
    }
}


#quote {
    padding: 50px 0;
    background-color: $azul;
    .row {
        .col-12 {
            text-align: center;
            h1 {
                font-family: $font1;
                color: #fff;
                font-weight: 800;
                font-size: 62px;
                line-height: 64px;
                margin: 0;
                text-transform: uppercase;
            }
        }
    }
}

#about {
    padding: 50px 0;
    .row {
        .col-12 {
            text-align: center;
            h1 {
                font-family: $font1;
                color: $celeste;
                font-weight: 800;
                font-size: 44px;
                line-height: 46px;
                text-transform: uppercase;
                margin: 0 0 20px 0;
            }
            p {
                font-family: $font1;
                color: $azul;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}



#contact {
    background-color: #15212f22;
    padding: 0;
    .row {
        .map {
            padding-right: 0px;
            padding-left: 0 !important;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
        .contacto {
            padding: 0 25px;
            .titulo {
                padding-top: 50px !important;
                h1 {
                    font-size: 32px;
                    font-family: $font1;
                }
                h2 {
                    font-family: $font1;
                    font-size: 18px;
                }
            }
            .titulo {
                padding: 15px;
                justify-content: space-between;
            }
            input {
                color: black;
                border: 0;
                border-bottom: 1.5px solid black;
                height: 40px;
                font-size: 14px;
                padding: 12px 0 12px 8px;
            }
            .email {
                input {
                    width: 100%;
                    font-family: $font1;
                    font-size: 14px;
                    padding: 12px 0 12px 8px;
                }
            }
            .datos {
                input {
                    width: 100%;
                    font-family: $font1;
                    font-size: 14px;
                    padding: 12px 0 12px 8px;
                }
                input:last-child {
                    float: right;
                }
            }
            textarea {
                width: 100%;
                height: 130px;
                border: 0;
                border-bottom: 1.5px solid black;
            }
            textarea::placeholder {
                color: black;
                font-family: $font1;
                font-size: 14px;
                padding: 12px 0 12px 8px;
            }
            .btn {
                text-align: right;
                margin-bottom: 30px;
                cursor: auto;
                a {
                    background-color: #606060;
                    padding: 8px 14px;
                    font-family: $font1;
                    font-size: 14px;
                    color: #efefef;
                    border: none;
                }
            }
            .tu_consulta {
                text-align: left;
                img {
                    width: 150px;
                }
                h3 {
                    font-family: $font1;
                    font-size: 16px;
                }
            }
            input, textarea {
                margin-bottom: 10px;
                background-color: transparent;
            }
            input::placeholder {
                color: black;
            }
        }
    }
}

@media (max-width: 450px) {
    
    .navbar {
        background-color: #fff;
        .container {
            .navbar-brand {
                img {
                    width: 128px;
                }
            }
            .navbar-nav {
                a:hover {
                  opacity: 0.7 ;
                }            
                .nav-item {
                    .nav-link {
                        color: #15212f;
                        font-weight: 600;
                    }
                }
            }
            .navbar-toggler {
                .navbar-toggler-icon {
                    background-image: none;
                    width: 35px;
                    height: 35px;
                    font-size: 35px;
                    color: $azul;
                }
            }
        }
    }
    
    #banner {
        height: 450px;
        .col-12 {
            top: 300px;
            padding-right: 20px;
            h1 {
                font-size: 42px;
                line-height: 46px;
            }
            h2 {
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
    
    #presentation {
        padding: 60px 0;
        .row {
            .col-12 {
                text-align: center;
                margin-bottom: 50px;
                h1 {
                    font-size: 32px;
                    line-height: 36px;
                }
            }
            .col-md-4 {
                padding: 0 40px;
                margin: 20px 0;
                .row {
                    .col-9 {
                        h3 {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    
    #products {
        padding: 0px 0;
        background-image: url('../js/img/2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .row {
            padding: 100px 20px 70px 20px;
            .col-md-4 {
                padding: 30px 20px;
                h2 {
                    font-size: 28px;
                    line-height: 32px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    
    
    #quote {
        padding: 50px 0;
        background-color: $azul;
        .row {
            .col-12 {
                h1 {
                    font-size: 42px;
                    line-height: 44px;
                }
            }
        }
    }
    
    #about {
        padding: 50px 0;
        .row {
            .col-12 {
                h1 {
                    font-size: 32px;
                    line-height: 36px;
                }
                p {
                    font-size: 20px;
                    line-height: 22px;
                }
            }
        }
    }
    
    
    
    #contact {
        .row {
            .map {
                min-height: 350px;
            }
            .contacto {
                padding: 0 20px;
                .titulo {
                    h1 {
                        font-size: 26px;
                    }
                    h2 {
                        font-family: $font1;
                        font-size: 16px;
                    }
                }
                input {
                    color: black;
                    border: 0;
                    border-bottom: 1.5px solid black;
                    height: 40px;
                    font-size: 14px;
                    padding: 12px 0 12px 8px;
                }
                .email {
                    input {
                        width: 100%;
                        font-family: $font1;
                        font-size: 14px;
                        padding: 12px 0 12px 8px;
                    }
                }
                .datos {
                    input {
                        font-family: $font1;
                        font-size: 14px;
                        padding: 12px 0 12px 8px;
                    }
                    input:last-child {
                        float: right;
                    }
                }
                textarea {
                    width: 100%;
                    height: 130px;
                    border: 0;
                    border-bottom: 1.5px solid black;
                }
                textarea::placeholder {
                    color: black;
                    font-family: $font1;
                    font-size: 14px;
                    padding: 12px 0 12px 8px;
                }
                .btn {
                    text-align: right;
                    margin-bottom: 30px;
                    cursor: auto;
                    a {
                        background-color: #606060;
                        padding: 8px 14px;
                        font-family: $font1;
                        font-size: 14px;
                        color: #efefef;
                        border: none;
                    }
                }
                .tu_consulta {
                    text-align: left;
                    img {
                        width: 150px;
                    }
                    h3 {
                        font-family: $font1;
                        font-size: 16px;
                    }
                }
                input, textarea {
                    margin-bottom: 10px;
                    background-color: transparent;
                }
                input::placeholder {
                    color: black;
                }
            }
        }
    }
}